.app {
  height: 460vh;
  background-color: #0b1d26;
}

@media (max-width: 1024px) {
  .app {
    height: 260vh;
  }
}

@media (max-width: 768px) {
  .app {
    height: 260vh;
  }
}

@media (max-width: 425px) {
  .app {
    height: 222vh;
  }
}

@media (max-width: 375px) {
  .app {
    height: 222vh;
  }
}