.bgHero {
  display: flex;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-x: clip;
}

.content-shadow {
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    330.24deg,
    rgba(106, 150, 172, 0) 21.06%,
    #0b1d26 108.93%
  );

  z-index: 10;
}

.HG {
  position: absolute;
  width: 1920px;
  height: 1513px;
  left: 0px;
  top: -400px;
  z-index: 9;
}

.MG {
  position: absolute;
  width: 1920px;
  height: 1422px;
  left: 0px;
  top: 464px;
  z-index: 98;
}

.VG {
  position: absolute;
  width: 1920px;
  height: 926px;
  left: 0px;
  top: 768px;
  z-index: 99;
}

.bg-footer-shadow {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 1200px;
  left: 0px;

  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  z-index: 100;
}

@media (max-width: 425px) {
  .HG {
    position: absolute;
    width: 1920px;
    height: 1513px;
    left: 0px;
    top: -400px;
    z-index: 9;
  }

  .MG {
    position: absolute;
    width: 1920px;
    height: 1422px;
    left: -320px;
    top: 464px;
    z-index: 98;
  }

  .VG {
    position: absolute;
    width: 1920px;
    height: 926px;
    left: -400px;
    top: 768px;
    z-index: 99;
  }
}
