.container--content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 1440px;
  padding: 0px 230px;
  gap: 200px;
}

/* Section 01 */

#section--01 {
  display: flex;
  position: relative;
  height: 720px;
  width: 100%;
}

#section--01 #img01 {
  position: absolute;
  right: 0px;
}

#section--01 #tag--number {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  top: 38px;
  font-size: 240px;
  font-family: "GilroyExtraBold";
  opacity: 0.1;
  color: #ffff;
}

.content--body--main {
  box-sizing: border-box;
  color: #ffff;
  display: flex;
  z-index: 101;
  height: 440px;
  width: 630px;
  top: 20%;
  left: 11.2%;
  flex-direction: column;
  position: absolute;
}

.content--body--main > h1 {
  font-size: 64px;
  font-family: ChronicleDisplayBlack;
  line-height: 77px;
  margin-top: 27px;
}

.content--body--main > p {
  margin-top: 27px;
  font-family: Gilroylight;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

.tag--name {
  display: flex;
  height: 24px;
  width: 100%;
  align-items: center;
}

.tag--name > img {
  margin-right: 24px;
}

.tag--name > span {
  font-family: "GilroyExtraBold";
  font-style: normal;
  color: #fbd784;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.tag--footer {
  display: flex;
  color: #fbd784;
  align-items: center;
  margin-top: 27px;
}

.tag--footer > img {
  width: 16px;
  height: 24px;
  margin-left: 24px;
  transform: rotate(-90deg);
}

.tag--footer > span {
  font-family: "GilroyExtraBold";
  font-size: 18px;
  text-transform: lowercase;
}

/* Section 02 */

#section--02 {
  display: flex;
  position: relative;
  height: 720px;
  width: 100%;
}

#section--02 #img02 {
  position: absolute;
  left: 0px;
}

#section--02 #tag--number02 {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  top: 5.28%;
  right: 34.68%;
  font-size: 240px;
  font-family: "GilroyExtraBold";
  opacity: 0.1;
  color: #ffff;
}

.content--body--main--2 {
  box-sizing: border-box;
  color: #ffff;
  display: flex;
  z-index: 101;
  height: 440px;
  width: 630px;
  top: 20%;
  right: 0px;
  flex-direction: column;
  position: absolute;
}

.content--body--main--2 > h1 {
  font-size: 64px;
  font-family: ChronicleDisplayBlack;
  line-height: 77px;
  margin-top: 27px;
}

.content--body--main--2 > p {
  margin-top: 27px;
  font-family: Gilroylight;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
}

/* Section 3 */

#section--03 {
  display: flex;
  position: relative;
  height: 720px;
  width: 100%;
}

#section--03 #img03 {
  position: absolute;
  right: 0px;
}

#section--03 #tag--number03 {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  top: 38px;
  font-size: 240px;
  font-family: "GilroyExtraBold";
  opacity: 0.1;
  color: #ffff;
}

/* Media Queries */

@media (max-width: 1440px) {
  /* section 01 */
  #section--01 {
    display: flex;
    position: relative;
    height: 1300px;
    width: 100%;
  }

  #section--01 #img01 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #section--01 #tag--number {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: 630px;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  /* section 02 */
  #section--02 {
    display: flex;
    position: relative;
    height: 1300px;
    width: 100%;
  }

  #section--02 #img02 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #section--02 #tag--number02 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
    right: 460px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main--2 {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: 630px;
    top: 110px;
    right: 0px;
    flex-direction: column;
    position: absolute;
  }

  /* section 3 */

  #section--03 {
    display: flex;
    position: relative;
    height: 1300px;
    width: 100%;
  }

  #section--03 #img03 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #section--03 #tag--number03 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }
}

@media (max-width: 1024px) {
  /* section 01 */
  #section--01 {
    display: flex;
    position: relative;
    height: 1350px;
    width: 100%;
  }

  #section--01 #img01 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #section--01 #tag--number {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  /* section 02 */
  #section--02 {
    display: flex;
    position: relative;
    height: 1350px;
    width: 100%;
  }

  #section--02 #img02 {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #section--02 #tag--number02 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0;
    right: auto;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main--2 {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    right: 0px;
    flex-direction: column;
    position: absolute;
  }

  /* section 3 */

  #section--03 {
    display: flex;
    position: relative;
    height: 1400px;
    width: 100%;
  }

  #section--03 #img03 {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  #section--03 #tag--number03 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }


}

@media (max-width: 768px) {
  .container--content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 1440px;
    padding: 0px 130px;
    gap: 200px;
  }

  #section--01 {
    display: flex;
    position: relative;
    height: 1350px;
    width: 100%;
  }

  #section--01 #img01 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }

  #section--01 #tag--number01 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main--2 {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  .content--body--main--2 > h1 {
    font-size: 56px;
    font-family: ChronicleDisplayBlack;
    line-height: 77px;
    margin-top: 27px;
  }
  
  .content--body--main--2 > p {
    margin-top: 27px;
    font-family: Gilroylight;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
  }

  .tag--footer > span {
    font-family: "GilroyExtraBold";
    font-size: 18px;
    text-transform: lowercase;
  }

  /* section 2 */

  #section--02 {
    display: flex;
    position: relative;
    height: 1350px;
    width: 100%;
  }

  #section--02 #img02 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }

  #section--02 #tag--number {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 240px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  .content--body--main > h1 {
    font-size: 56px;
    font-family: ChronicleDisplayBlack;
    line-height: 77px;
    margin-top: 27px;
  }
  
  .content--body--main > p {
    margin-top: 27px;
    font-family: Gilroylight;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
  }

  .tag--footer > span {
    font-family: "GilroyExtraBold";
    font-size: 18px;
    text-transform: lowercase;
  }

  /* section 3 */

  #section--03 #img03 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }
  
}

@media (max-width: 425px) {
  .container--content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 1440px;
    padding: 0px 60px;
    gap: 200px;
  }

  #section--01 {
    display: flex;
    position: relative;
    height: 1050px;
    width: 100%;
  }

  #section--01 #tag--number {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 180px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  .content--body--main > h1 {
    font-size: 36px;
    font-family: ChronicleDisplayBlack;
    line-height: 47px;
    margin-top: 27px;
  }

  .content--body--main > p {
    margin-top: 27px;
    font-family: Gilroylight;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
  }

  .tag--footer > span {
    font-family: "GilroyExtraBold";
    font-size: 12px;
    text-transform: lowercase;
  }

  .tag--name {
    display: flex;
    height: 24px;
    width: 100%;
    align-items: center;
  }

  .tag--name > span {
    font-family: "GilroyExtraBold";
    font-style: normal;
    color: #fbd784;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  /* section 2 */

  #section--02 {
    display: flex;
    position: relative;
    height: 1050px;
    width: 100%;
  }

  #section--02 #tag--number02 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 180px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }

  .content--body--main--2 {
    box-sizing: border-box;
    color: #ffff;
    display: flex;
    z-index: 101;
    height: 440px;
    width: auto;
    top: 110px;
    flex-direction: column;
    position: absolute;
  }

  .content--body--main--2 > h1 {
    font-size: 36px;
    font-family: ChronicleDisplayBlack;
    line-height: 47px;
    margin-top: 27px;
  }

  .content--body--main--2 > p {
    margin-top: 27px;
    font-family: Gilroylight;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
  }

  /* section 3 */

  #section--03 {
    display: flex;
    position: relative;
    height: 1050px;
    width: 100%;
  }

  #section--03 #tag--number03 {
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
    top: 0px;
    font-size: 180px;
    font-family: "GilroyExtraBold";
    opacity: 0.1;
    color: #ffff;
  }


  
}

