.container--main {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 310px;
  width: 59.375rem;
  justify-content: center;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  top: 15.625rem;
}

.header--content {
  display: flex;
  align-items: center;
  font-family: Gilroylight;
  color: #fbd784;
  margin-bottom: 32px;
  letter-spacing: 6px;
  align-items: center;
  font-weight: bolder;
}

.rectang {
  margin-right: 36px;
}

.content--main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin-bottom: 32px;
}

.content--main > h2 {
  font-family: ChronicleDisplayBlack;
  font-size: 5rem;
  text-transform: capitalize;
}

.footer--content {
  display: flex;
  font-family: Gilroylight;
  font-size: 18px;
  font-weight: bold;
}

.footer--content > a {
  text-decoration: none;
  color: #ffff;
}

a > span {
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .container--main {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 310px;
    width: 39.375rem;
    justify-content: center;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 15.625rem;
  }

  .content--main > h2 {
    font-family: ChronicleDisplayBlack;
    font-size: 3.5rem;
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .container--main {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 310px;
    width: 32.375rem;
    justify-content: center;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 15.625rem;
  }

  .content--main > h2 {
    font-family: ChronicleDisplayBlack;
    font-size: 2.8rem;
    text-transform: capitalize;
  }

  .header--content {
    display: flex;
    align-items: center;
    font-family: Gilroylight;
    color: #fbd784;
    margin-bottom: 32px;
    letter-spacing: 6px;
    align-items: center;
    font-weight: bolder;
  }
}

@media (max-width: 425px){
  .container--main {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    justify-content: center;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    top: 16.625rem;
  }

  .content--main > h2 {
    font-family: ChronicleDisplayBlack;
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  .header--content {
    display: flex;
    align-items: center;
    font-family: Gilroylight;
    color: #fbd784;
    margin-bottom: 12px;
    letter-spacing: 6px;
    font-size: 12px;
    align-items: center;
    font-weight: bolder;
  }
  
  .rectang {
    margin-right: 16px;
  }

  .footer--content {
    display: flex;
    font-family: Gilroylight;
    font-size: 12px;
    font-weight: bold;
  }

  .footer--content img {
    height: 20px;
    width: 16px;
  }
}

